.links_card_block {
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    text-decoration: none;
    border: 1px solid rgb(155, 155, 155);
    transition: all ease 0.5s;
    &:hover {
       border: 1px solid rgb(91, 70, 198); 
    }
}

.links_card_img {
   width: 100%;
}

.links_card_top {
     width: 50%;
    height: 100px;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: center;
}

.links_card_bottom {
    margin-top: 15px;
}

.links_card_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    display: block;
    line-height: 22px;
    text-decoration: none;
    color: white;
    height: 25px;
}

.links_card_description {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    display: block;
    height: 50px;
    line-height: 22px;
    text-decoration: none;
    color: white;
}
